@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  // background-color: rgba(12, 23, 43, 1.8);
  // background-color: white;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  color: black;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}
